*~
*#
*.dat
*.cache
*ido.last
emacs.d/auto-save-list
emacs.d/elpa
*/init-local-prolog.el
*/custom.el
emacs.d/recentf
emacs.d/.tutor
emacs.d/projectile-bookmarks.eld
emacs.d/.dap-breakpoints
emacs.d/.lsp-session-v1

